:root {
    --spotify-green: #1DB954;
}

img {
    justify-content: center;
    display: flex;
    margin: 10px auto
}

i {
    font-size: 2em;
}

.spotify-green {
    background-color: var(--spotify-green);
    border-color: var(--spotify-green);
    color: white;
}


.spotify-btn {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

